<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">

    <php>
        <env name="SELENIUM_HOST" value="http://selenium:4444/wd/hub"/>
        <autoload>
            <files>
                <file>vendor/autoload.php</file>
            </files>
        </autoload>
    </php>

    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
